/* Estilos básicos para o corpo e elementos principais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8a100;
    border-bottom: 1px solid rgb(182, 184, 94);
}

.logo img {
    max-width: 100%;
    height: auto;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #da0202;
    border-radius: 4px;
    width: 250px;
}

.user-options .login-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #df5543;
    color: rgb(241, 237, 237);
    cursor: pointer;
}

nav.main-menu {
    display: flex;
    justify-content: center;
    background-color: #b92106d5;
    padding: 10px 0;
}

nav.main-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

nav.main-menu a:hover {
    background-color: #a1822cd3;
    border-radius: 4px;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #f7c88b;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ca2c10;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.restaurants {
    padding: 20px;
}

.restaurants h2 {
    text-align: center;
    margin-bottom: 20px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.restaurant-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
}

.restaurant-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.contact, .about {
    padding: 20px;
    background-color: #f9f9f9;
}

.contact h2, .about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact p, .about p {
    text-align: center;
    margin: 10px 0;
}

footer {
    padding: 20px;
    background-color: #f8a100;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-info a {
    display: block;
    margin-bottom: 10px;
    color: hsl(19, 60%, 30%);
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-info p {
    margin: 5px 0;
}
